
.box{
  display: flex;
  height: 100%;
}
.container{
  background-color: #23252F;
  width: 1600px;
height: 800px;


}
.sidebar{
  background: #2B2D38;
  width: 670px;
height: 800px;
display:flex;
justify-content: center;
align-items: center;
}
.title{

width: 543px;
  color: #FFF;

font-family: Arial;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 42px;
}

.title2{
  width: 543px;
  color: #FFF;

font-family: Arial;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
}
.date{
  color: #FFF;
font-family: Arial;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.txt{
  width: 553px;
  color: #FFF;
font-family: Arial;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
}

input[type=text]{
border: 1px solid #464856;
background: #23252F;
width: 200px;
height: 60px;
flex-shrink: 0;
}

input[type=checkbox]{
  border: 1px solid #464856;
  display:inline-block;
  }
.button
{
  /* background-url(<svg xmlns="http://www.w3.org/2000/svg" width="181" height="74" viewBox="0 0 181 74" fill="none">
  <rect width="181" height="74" fill="white"/>
  </svg>) */
  /* background-image: url("<svg xmlns="http://www.w3.org/2000/svg" width="181" height="74" viewBox="0 0 181 74" fill="none">
  <rect width="181" height="74" fill="white"/></svg>"); */
width: 181px;
height: 74px;
flex-shrink: 0;
  
}
.label{
  color: #FFF;
font-family: IBM Plex Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
/* display: block; */
}

.link{
  color: #00D1FF;
font-family: IBM Plex Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}

.form{
  width:75%;
  padding:2px;

}
.info{
  display: flex;
  padding: 2px;
}